.card-table {
  background-color: white;
  padding: 4rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  border-radius: 5px;
  transition: 0.3s;
  margin-bottom: 4rem;
  margin-top: 3rem;
}


.button {
  background-color: #A100FF;
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
}


.no-record {
  text-align: center;
}
